@import "variable";
@import "reset";
@import "mixin";
@import "common";

.header {
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 4px solid $colorThird;

  @include desktop {
    position: static;
    background: none;
    border-bottom: none;
  }

  .container {
    @include displayFlex($jc: space-between);
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .logo {
    width: 128px;

    @include pad {
      width: 200px;
    }
  }
}

.content {
  padding-top: 48px;
  padding-bottom: 361px;

  @include pad {
    padding-top: 116px;
    padding-bottom: 180px;
  }

  &__headline {

    h2 {
      margin-bottom: 16px;
      font-size: $fontSize-s * 2;
      font-weight: $fontWeight-l;

      @include desktop {
        font-size: $fontSize-s * 3;
      }
    }

    p {
      @include desktop {
        font-size: $fontSize-l;
      }
    }
  }
}

.contentBg {
  position: absolute;
  width: 100%;
  height: 495px;
  top: 10vh;
  z-index: -1;
  background: url("../images/banner_sm.svg") no-repeat center;
  background-size: cover;

  @include pad {
    top: 0;
    height: 50vh;
    background: url("../images/banner.svg") no-repeat top right;
    background-size: contain;
  }

  @include desktop {
    height: 559px;
  }
}

.program {
  &__priceList {
    display: flex;
    justify-content: start;
    overflow-x: scroll;
    padding-top: 24px;
    padding-bottom: 16px;

    @media (min-width: 665px) {
      justify-content: center;
    }
  }

  &__plan {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;

    @include desktop {
      margin-left: -10px;
      margin-right: -10px;
      flex-wrap: nowrap;
    }
  }
}

.planCard {
  width: 100%;
  padding: 16px 16px 24px 16px;
  margin-bottom: 24px;
  border-radius: 12px;
  box-shadow: $boxShadow;
  text-align: center;

  @include desktop {
    padding: 16px 29px 32px 29px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(50% - 20px);
  }

  &__version {
    padding-bottom: 16px;
    font-size: $fontSize-s * 1.5;
    font-weight: $fontWeight-l;
  }

  &__describe {
    padding: 24px 0;
  }

  &__calc {
    @include displayFlex;
    margin-bottom: 27px;

    &__quantity {
      width: 45%;
      padding: 16px 0;
      border-radius: 12px;
      background-color: #F5F5F5;

      @include desktop {
        width: 169px;
      }

      .susTotal {
        font-size: $fontSize-s * 0.75;
      }

      .susNum {
        font-size: 28px;
        color: $colorSecond;

        @include desktop {
          font-size: $fontSize-s * 2;
        }
      }

      .colorMain {
        color: $colorMain;
      }

      .susNum sub {
        vertical-align: baseline;
        font-size: $fontSize-s * 0.75;
      }
    }

    &__equal {
      width: 10%;
      font-size: $fontSize-s * 1.5;
    }
  }

  &__list {
    margin-bottom: 24px;
    text-align: left;

    li {
      @include displayFlex($jc: left);
      padding: 8px 0;

      img {
        padding-right: 16px;
      }

    }
    li p {
      font-size: $fontSize-s * 0.875;

      @include pad {
        font-size: $fontSize-s;
      }
    }
  }
}

.question{
  h3{
    padding: 36px 0 32px 0;
  }
  &__frame{
  }
}
.qaCard{
  width: 100%;
  padding: 16px 16px 16px 16px;
  margin-bottom: 16px;
  border-radius: 12px;
  box-shadow: $boxShadow;
  &__question{
    @include displayFlex($jc: space-between);
    p{
      font-weight: $fontWeight-l;
      color: $colorSecond;
    }
  }
  .unclick p{
    color: #221E1F;
    font-weight: $fontWeight-m;
  }
  &__answer{
    padding-top: 16px;
    color: #747474;
    line-height: 2;
  }
}

.footer {
  p {
    width: 100%;
    margin-top: 60px;
    padding: 16px 0;
    font-size: $fontSize-s;
    text-align: center;
    background-color: #F5F5F5;

    @include desktop {
      margin-top: 100px;
    }
  }
}