html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

sub {
  vertical-align: sub;
}

body {
  color: #221E1F;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1088px;
  padding: 0 20px;
  margin: 0 auto;
}

.btnStyle-green {
  display: inline-block;
  padding: 12px 32px;
  color: #fff;
  font-size: 18px;
  border-radius: 27px;
  background-color: #56C4C5;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btnStyle-green:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
}

.btnStyle-red {
  display: inline-block;
  padding: 8px 32px;
  color: #fff;
  font-size: 16px;
  border-radius: 22px;
  background-color: #FF5D50;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btnStyle-red:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.header {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 4px solid #F5CA52;
}

@media only screen and (min-width: 769px) {
  .header {
    position: static;
    background: none;
    border-bottom: none;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header .logo {
  width: 128px;
}

@media only screen and (min-width: 376px) {
  .header .logo {
    width: 200px;
  }
}

.footer p {
  width: 100%;
  margin-top: 60px;
  padding: 16px 0;
  font-size: 16px;
  text-align: center;
  background-color: #F5F5F5;
}

@media only screen and (min-width: 769px) {
  .footer p {
    margin-top: 100px;
  }
}
/*# sourceMappingURL=program.css.map */