html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 1px solid #aaa;
}

body {
  font-family: Helvetica, Arial, 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

sub {
  vertical-align: sub;
}

body {
  color: #221E1F;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1088px;
  padding: 0 20px;
  margin: 0 auto;
}

.btnStyle-green {
  display: inline-block;
  padding: 12px 32px;
  color: #fff;
  font-size: 18px;
  border-radius: 27px;
  background-color: #56C4C5;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btnStyle-green:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
}

.btnStyle-red {
  display: inline-block;
  padding: 8px 32px;
  color: #fff;
  font-size: 16px;
  border-radius: 22px;
  background-color: #FF5D50;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btnStyle-red:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.btnStyle-list {
  margin-right: 16px;
}

.btnStyle-list a {
  display: inline-block;
  width: 110px;
  padding: 8px 16px;
  color: #56C4C5;
  font-size: 16px;
  text-align: center;
  border-radius: 27px;
  border: 1px solid #56C4C5;
  background-color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btnStyle-list a:hover {
  color: #fff;
  background-color: #56C4C5;
}

#btnStyle-list-active a {
  color: #fff;
  background-color: #56C4C5;
}

h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 376px) {
  h3 {
    font-size: 32px;
  }
}

.header {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 4px solid #F5CA52;
}

@media only screen and (min-width: 769px) {
  .header {
    position: static;
    background: none;
    border-bottom: none;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header .logo {
  width: 128px;
}

@media only screen and (min-width: 376px) {
  .header .logo {
    width: 200px;
  }
}

.content {
  padding-top: 48px;
  padding-bottom: 361px;
}

@media only screen and (min-width: 376px) {
  .content {
    padding-top: 116px;
    padding-bottom: 180px;
  }
}

.content__headline h2 {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
}

@media only screen and (min-width: 769px) {
  .content__headline h2 {
    font-size: 48px;
  }
}

@media only screen and (min-width: 769px) {
  .content__headline p {
    font-size: 20px;
  }
}

.contentBg {
  position: absolute;
  width: 100%;
  height: 495px;
  top: 10vh;
  z-index: -1;
  background: url("../images/banner_sm.svg") no-repeat center;
  background-size: cover;
}

@media only screen and (min-width: 376px) {
  .contentBg {
    top: 0;
    height: 50vh;
    background: url("../images/banner.svg") no-repeat top right;
    background-size: contain;
  }
}

@media only screen and (min-width: 769px) {
  .contentBg {
    height: 559px;
  }
}

.program__priceList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow-x: scroll;
  padding-top: 24px;
  padding-bottom: 16px;
}

@media (min-width: 665px) {
  .program__priceList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.program__plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 16px;
}

@media only screen and (min-width: 769px) {
  .program__plan {
    margin-left: -10px;
    margin-right: -10px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.planCard {
  width: 100%;
  padding: 16px 16px 24px 16px;
  margin-bottom: 24px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  text-align: center;
}

@media only screen and (min-width: 769px) {
  .planCard {
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
  }
}

.planCard__version {
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}

.planCard__describe {
  padding: 24px 0;
}

.planCard__calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 27px;
}

.planCard__calc__quantity {
  width: 45%;
  padding: 16px 0;
  border-radius: 12px;
  background-color: #F5F5F5;
}

.planCard__calc__quantity .susTotal {
  font-size: 12px;
}

.planCard__calc__quantity .susNum {
  font-size: 28px;
  color: #56C4C5;
}

.planCard__calc__quantity .colorMain {
  color: #221E1F;
}

.planCard__calc__quantity .susNum sub {
  vertical-align: baseline;
  font-size: 12px;
}

.planCard__calc__equal {
  width: 10%;
  font-size: 24px;
}

.planCard__list {
  margin-bottom: 24px;
  text-align: left;
}

.planCard__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 8px 0;
}

.planCard__list li img {
  padding-right: 16px;
}

.planCard__list li p {
  font-size: 14px;
}

.footer p {
  width: 100%;
  padding: 16px 0;
  font-size: 16px;
  text-align: center;
  background-color: #F5F5F5;
}

@media only screen and (min-width: 769px) {
  .footer p {
    margin-top: 100px;
  }
}
/*# sourceMappingURL=program.css.map */